body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
}

h1, h2 {
  text-align: start;
}

.container {
  width: 600px;
  margin: 20px;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

button {
  color: white;
  border: none;
  padding: 7px 12px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 17px;
}

button:hover {
  opacity: 0.8;
}

.good-btn {
  background-color: #28a745;
}

.neutral-btn {
  background-color: #eaba2a;
}

.bad-btn {
  background-color: #dc3545;
}

table {
  width: 100%;
  margin-top: 20px;
}

td {
  background-color: #f8f9fa;
  padding: 8px;
  text-align: left;
  width: 50%;
  border-radius: 6px;
}

td:first-child {
  font-weight: bold;
}