.notification {
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification.success {
  color: green;
  background: rgb(185, 240, 185);
}

.notification.edit {
  color: rgb(3, 175, 202);
  background: rgb(185, 241, 238);
}

.notification.deleted {
  color: red;
  background: rgb(241, 167, 167);
}
